/* body{
  width: 50%;
  margin: 0 auto;
  
}
header{
  text-align: center;
}
header h1{
  font-size: 100px;
  color: rgb(33, 20, 222);

}
input{
  font-size:20px;
  color:rgb(33, 20, 220);
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(33, 21, 220);



 } */
.background {
  background-color: rgb(90 227 130);
}
